<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="/index.js" ></script>
    <title>Document</title>
</head>
<body>
    <p id="status">Not Connected</p>
    <button onclick="connect()">Connect To Server</button>
    <div id="command-list" style="display: none">
        <a>HIGH</a>
        <a>LOW</a>
        <a>PING</a>
    </div>
</body>


</html>